    <div class="note">
      <%= simple_form_for @note do |f| %>
        <%= f.input :body, placeholder: 'Say something...', label: false %>
        <%= f.submit 'Save Note' %>
      <% end %>
    </div>

    <!-- <section class="options">
      <div class="option">
        <label>Typeface</label>
        <select name="typeface" class="choose">
          <option value="Spicy Rice">Spicy Rice</option>
          <option value="Questrial">Questrial</option>
          <option value="Life Savers">Life Savers</option>
          <option value="Bangers">Bangers</option>
          <option value="Roboto Mono">Roboto Mono</option>
          </select>
        </div>

        <div class="option">
          <label>Theme</label>
          <div class="colors">
            <div style="background-color: ##2aa3ff; color: #ff752a;">a</div>
            <div style="background-color: #ffdd00; color: #bb00ff;">a</div>
            <div style="background-color: #de5414; color: #149ede;">a</div>
            <div style="background-color: #e0659c; color: #65e0a9;">a</div>
          </div>
        </div>
    </section> -->
