<footer class='links'>
  <!-- <div class=" links" > -->
    <%= link_to 'New Note', root_path%>
    <%= link_to 'All Notes', all_path%>
    <%= link_to 'Random Note', random_path%>
    <%= link_to 'Briana Gude', "http://www.brianagude.com/", target: :_blank%>
  <!-- </div> -->

  <!-- <div class="contact"> -->
    <!-- <p> Stay Updated! </p> -->
    <!-- <div class="email"> -->
      <!-- <form action="https://formspree.io/briana.gude@email.com" method="POST"> -->
        <!-- <input type="email" value="" placeholder="Stay Updated!" required /> -->
        <!-- <input type="submit" value="Submit" /> -->
      <!-- </form> -->
    <!-- </div> -->
  <!-- </div> -->
</footer>
