<footer>
  <div class="container">
    <%= link_to 'New Note', root_path%>
    <%= link_to 'All Notes', all_path%>
    <%= link_to 'Random Note', random_path%>
    <%= link_to 'Briana Gude', "http://www.brianagude.com/", target: :_blank%>
  </div>
</footer>

