  <header>
    <%= link_to 'Leave A Note', root_path, :class => "effect-shine" %>
    <h1> Edit Your Note</h1>
    <%= link_to 'View All Notes', all_path, :class => "effect-shine" %>
  </header>

  <%= render 'createnote' %>
