  <header>
    <%= link_to 'All Notes', all_path, :class => "effect-shine" %>
    <h1> <%= title 'Duly Noted' %></h1>
    <%= link_to 'Random Note', random_path, :class => "effect-shine" %>
  </header>


  <%= render 'createnote' %>

  <!-- <section class="instructions">
    <p>
      1. Write A Note (it's completely anonymous) <br> 2. Save Your Note <br> 3. See all the notes everyone has posted <br> <strong>4a. Don't be racist</strong> <br> 4b. Make my site better by posting more notes (:
    </p>
  </section> -->
