  <header>
    <%= link_to 'Random Note', rand_path, :class => "effect-shine" %>
    <h1> Leave A Note</h1>
    <%= link_to 'View All Notes', all_path, :class => "effect-shine" %>
  </header>


  <%= render 'createnote' %>
