  <header>
    <div class="container">
      <%= link_to 'Random', random_path%>
      <%= link_to 'New', root_path%>
      <%= link_to 'All', all_path%>
      <h5>Leave A Note</h5>
    </div>
  </header>

  <%= render 'shownote' %>
