@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;

  div.success, div.error{
    display: flex;
    color: red;
    justify-content: center;
    width: 100vw;
  }


  body{
    background-color: white;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    font-size: 18px;

    margin: 0 auto;
    cursor:crosshair;
  }


  a{
    text-decoration: none;
    color: #000;
  }

    // effect-shine
    // a.effect-shine:hover {
    //   -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.9) 30%, #000 50%, rgba(0,0,0,.9) 70%);
    //   -webkit-mask-size: 200%;
    //   animation: shine 2s infinite;
    // }
    //
    // @-webkit-keyframes shine {
    //   from {
    //     -webkit-mask-position: 150%;
    //   }
    //
    //   to {
    //     -webkit-mask-position: -50%;
    //   }
    // }


  header{
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 5;

    h1, a{
      margin: 20px 40px;
      // width: 150px;
    }

    a{
      color: black;
      background-color: none;

      padding: .3em;
      // margin: 0 40px;

      border-bottom: 5px solid #000;
      outline: none;
      resize: none;

      &:hover{
        // border-bottom: 5px dotted #000;
        // font-style: italic;
      }
    }

  }


  div.note{
    margin: auto;
    width:50%;
    }


  textarea, input{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 600;

    box-sizing: border-box;
    outline: none;
  }

  textarea {
    height: 400px;
    width:100%;
    padding: 10px;
    margin: 120px 0 10px 0;
    resize: none;
  }

  input[type=submit] {
    text-align: center;
    cursor:pointer;
    width: 100%;
  }



  section.options{
    width: 100%;
    padding: 0px 20px 20px 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


  div.option{
    margin: 50px;
  }

  label{
    display: block;
    margin-bottom: 5px;
  }

  label span{
    float: right;
    font-style: italic;
  }

  select, div.colors div{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;

    border: 3px solid #000;
    box-shadow: none;
    transition: background-color 0.2s;

    &:hover {background-color: #C8C8C8}
  }

  select{
    width:100%;
    padding: 5em;
    margin-top: 10px;
    outline: none;
  }

  div.colors{
    display: flex;
  }

  div.colors div{
    text-align: center;
    cursor: pointer;

    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;

    border-radius: 50%;
    transition: border 0.2s;

    &:hover {border: rgba(155, 155, 155, 1);}

    div.selected{
      border: rgba(155, 155, 155, 1);}
    }


    textarea, input, div.notes, div.shownote{
      border: 5px solid #000;
      transition: background-color 0.2s;
      background-color: white;

      &:hover {
        background-color: #C8C8C8;
      }
    }


    section.instructions{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      p{
        font-size:12px;
        strong{
          font-weight: 900;
          color: red;
        }
      }

    }



  div.allnotes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;
    margin: 100px auto 80px auto;
  }

  div.notes, div.shownote{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    text-align: center;
    word-break: normal;
    hyphens: auto;
  }

  div.notes{
      height: 200px;
      width: 300px;
      padding: 15px;
      margin: 10px;

      outline: none;
      resize: none;
      background-color: white;
  }



  div.shownote{
    font-size: 18px;

    position:fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 550px;
    padding: 10px;

    box-sizing: border-box;
    outline: none;
    resize: none;
  }

  // div.actions{
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //
  //   position: fixed;
  //   width: 100%;
  //   left:0;
  //   bottom: 0;
  //
  //   z-index: 2;
  //   color: white;
  //
  //   a{
  //     color: white;
  //     padding: 0 20px;
  //   }
  // }

  footer{
    bottom: 0;
    left: 0;
    width: 100%;
    position:fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;


    text-align:center;
    background-color: black;
    color: white;

    a, p{
      margin: 15px;
      color: white;
    }
  }

  footer.actions{
    bottom: 0;
    left: 0;
    width: 100%;
    position:fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;


    text-align:center;
    background-color: black;
    color: white;

    a, p{
      margin: 15px ;
      color: white;
    }
  }







// media queries
  @media (max-width: 1024px){
    body{
      font-size: 20px;
    }

    header{
      h1, a{
        margin: 20px 30px;
        display: block;
        // width: 100%;
      }

      a{
        font-size: 24px;
      }

      h1{
        font-size: 32px;
      }

      a:hover{
        border-bottom: 5px solid #000;
      }

    div.note{
      width:90%;
      }

    textarea, input{
      font-size: 24px;
      border-radius: 0;
    }

    textarea {
      height: 800px;
      margin-top: 200px;
    }

    section.instructions{
      margin-top: 100px;
    }

    div.notes{
        max-width: 100%;
        max-height: 300px;
    }

    div.shownote{
      font-size: 24px;
      height: 700px;
      width: 750px;
    }

    footer, footer.actions{
      a, p{
        margin: 25px;
        color: white;
      }
      a{
        font-size: 28px;
      }

      p{
        font-size: 34px;
      }
    }


    }


  }
