// colors
$black: #0a0a0a;
$grey: #797979;
$grey-light: #e8e8e8;
$white: #fefefe;
$red: #f74242;

// mixins
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

// global styles 
a {
  color: $black;
  text-decoration: none; 
  &:hover { color: $red; }
}

%border { border: 5px solid $black; }

// header & footer
header, 
footer {
  background: $black;
  color: $white;
  a { color: $white; }

  .container {
    height: 64px;
    padding: 16px;
    @include flex(space-between);
  }
}